In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib widget
plt.style.use('ggplot')

In [2]:
train=pd.read_csv("train.csv") 
test=pd.read_csv("test.csv")

In [3]:
train["log_revenue"]=np.log1p(train["revenue"])

In [4]:
fig,ax=plt.subplots(figsize=(13,5))
plt.subplot(1,2,1)
sns.distplot(train["revenue"]);
plt.subplot(1,2,2)
sns.distplot(train["log_revenue"]);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [5]:
train["log_budget"]=np.log1p(train["budget"])
test["log_budget"]=np.log1p(test["budget"])

In [6]:
sns.set_context("paper", rc={"font.size":5,"axes.titlesize":8,"axes.labelsize":8})
fig,ax=plt.subplots(figsize=(13,5))
plt.subplot(1,2,1)
sns.scatterplot(x="log_revenue",y="budget",data=train,size=1,linewidth=0.3);
plt.gca().tick_params(axis="both",labelsize=9);
plt.subplot(1,2,2)
sns.scatterplot(x="log_revenue",y="log_budget",data=train,size=6,alpha=0.5,linewidth=0.3);
plt.gca().tick_params(axis="both",labelsize=9);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [7]:
train["has_homepage"]=0

In [8]:
train.loc[train["homepage"].isnull()==False,"has_homepage"]=1

In [9]:
test["has_homepage"]=0
test.loc[test["homepage"].isnull()==False,"has_homepage"]=1

In [12]:
sns.catplot(x="revenue",y="has_homepage",data=train);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [11]:
test.head()

,id,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,release_date,...,departments_Writing,departments_Costume & Make-Up,departments_Camera,departments_Directing,departments_Editing,departments_Visual Effects,departments_Lighting,departments_Actors,log_budget,has_homepage
0,3001,0,http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,/tnftmLMemPLduW6MRyZE0ZUD19z.jpg,7/14/07,...,1,0,0,1,0,0,0,0,0.000000,1
1,3002,88000,NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,/9MgBNBqlH1sG4yG2u4XkwI5CoJa.jpg,5/19/58,...,1,1,1,1,1,0,0,0,11.385103,0
2,3003,0,NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,/ed6nD7h9sbojSWY2qrnDcSvDFko.jpg,5/23/97,...,1,0,1,1,1,0,0,0,0.000000,0
3,3004,6800000,http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,/sEUG3qjxwHjxkzuO7plrRHhOZUH.jpg,9/4/10,...,3,7,3,2,3,6,3,0,15.732433,1
4,3005,2000000,NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,/n4WC3zbelz6SG7rhkWbf8m9pMHB.jpg,2/11/05,...,2,0,2,2,2,0,0,0,14.508658,0

In [17]:
def getSpecialSubstring(s, k, charValue): 
    
    
    alpha=list("abcdefghijklmnopqrstuvwxyz")
    binary=list(charValue)
    
    values=list(zip(alpha,binary))

    Q={chr}
    for value in values:
        if value[1]=="0":
            Q.add(value[0])
    N=len(s)
    if (k == 0): 
        return 0
    count = 0
    left = 0
    right = 0
    ans = 0
    while (right < N):  
        while (right < N and count <= k):  
            if (s[right] in Q): 
                if (count + 1 > k): 
                    break
                else: 
                    count += 1
            right += 1
            if (count <= k): 
                ans = max(ans, right - left)  
        while (left < right): 
            left += 1
            if (s[left] in Q): 
                count -= 1
            if (count < k): 
                break
  
    return ans

In [1]:
alpha=list("abcdefghijklmnopqrstuvwxyz")
binary=list("11111111110000000000111111")
    
values=list(zip(alpha,binary))

In [9]:
Q=[x[0] for x in values if x[1]=="0" ]

In [10]:
values[1][1]

'1'

In [11]:
Q

['k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't']

In [13]:
q={chr}

In [14]:
q.add(1)

In [15]:
q

{1, <function chr(i, /)>}

In [16]:
type(q)

set

In [ ]:
def get(P, K, Charvalue): 
    
    
    alpha=list("abcdefghijklmnopqrstuvwxyz")
    binary=list(Charvalue)
    
    values=list(zip(alpha,binary))

    Q=[x[1] for x in values if x[0]=="0" ]

    if (K == 0): 
        return 0
    count = 0
    left = 0
    right = 0
    ans = 0
    while (right < N):  
        while (right < N and count <= K):  
            if (P[right] in Q): 
                if (count + 1 > K): 
                    break
                else: 
                    count += 1
            right += 1
            if (count <= K): 
                ans = max(ans, right - left)  
        while (left < right): 
            left += 1
            if (P[left] in Q): 
                count -= 1
            if (count < K): 
                break
  
    return ans


def getSpecialSubstring(s, k, charValue): 
    
    
    alpha=list("abcdefghijklmnopqrstuvwxyz")
    binary=list(charValue)
    
    values=list(zip(alpha,binary))

    Q={chr}
    for value in values:
        if value[1]=="0":
            Q.add(value[0])
    N=len(s)
    if (k == 0): 
        return 0
    count = 0
    left = 0
    right = 0
    ans = 0
    while (right < N):  
        while (right < N and count <= k):  
            if (s[right] in Q): 
                if (count + 1 > k): 
                    break
                else: 
                    count += 1
            right += 1
            if (count <= k): 
                ans = max(ans, right - left)  
        while (left < right): 
            left += 1
            if (s[left] in Q): 
                count -= 1
            if (count < k): 
                break
  
    return ans