In [23]:
G=["Male","Male","Female","Female","Male","Male","Female","Female","Male","Female"]
car=[0,1,1,0,1,0,1,1,2,2]
cost=["Cheap","Cheap","Cheap","Cheap","Cheap","Standard","Standard","Expensive","Expensive","Expensive"]
income=["Low","Medium","Medium","Low","Medium","Medium","Medium","High","Medium","High"]
tarn=["Bus","Bus","Train","Bus","Bus","Train","Train","Car","Car","Car"]
import pandas as pd
df=pd.DataFrame({"Gender":G,"Car Ownership":car,"Cost":cost,"Income Level":income,"Mode":tarn})
import numpy as np
import pandas as pd
df=pd.DataFrame({"Gender":G,"Car Ownership":car,"Cost":cost,"Income Level":income,"Mode":tarn})
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
df["Gender"] = lb_make.fit_transform(df["Gender"])
df["Cost"] = lb_make.fit_transform(df["Cost"])
df["Income Level"] = lb_make.fit_transform(df["Income Level"])
df["Mode"] = lb_make.fit_transform(df["Mode"])

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

X=df[['Gender', 'Car Ownership', 'Cost', 'Income Level']]

In [25]:
df=pd.DataFrame({"Gender":G,"Car Ownership":car,"Cost":cost,"Income Level":income,"Mode":tarn})

In [26]:
df.head()

   Gender  Car Ownership   Cost Income Level   Mode
0    Male              0  Cheap          Low    Bus
1    Male              1  Cheap       Medium    Bus
2  Female              1  Cheap       Medium  Train
3  Female              0  Cheap          Low    Bus
4    Male              1  Cheap       Medium    Bus

In [27]:
from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()
df["Gender"] = lb_make.fit_transform(df["Gender"])
df["Cost"] = lb_make.fit_transform(df["Cost"])
df["Income Level"] = lb_make.fit_transform(df["Income Level"])
df["Mode"] = lb_make.fit_transform(df["Mode"])

In [28]:
df.head()

   Gender  Car Ownership  Cost  Income Level  Mode
0       1              0     0             1     0
1       1              1     0             2     0
2       0              1     0             2     2
3       0              0     0             1     0
4       1              1     0             2     0

In [29]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

In [30]:
X=df[['Gender', 'Car Ownership', 'Cost', 'Income Level']]

In [31]:
y=df.Mode

import sklearn.model_selection as model_selection

In [32]:
X_train, X_test, y_train, y_test =model_selection.train_test_split(
        X, y, test_size=0.25, random_state=5)

In [33]:
classifier_type="rf"

In [34]:
params = {'n_estimators': 100, 'max_depth': 4, 'random_state': 0}
if classifier_type == 'rf':
    classifier = RandomForestClassifier(**params)
else:
    classifier = ExtraTreesClassifier(**params)

classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=4, random_state=0)

In [35]:
y_test_pred = classifier.predict(X_test)

In [22]:
X.head()

   Gender  Car Ownership  Cost  Income Level
0       1              0     0             1
1       1              1     0             2
2       0              1     0             2
3       0              0     0             1
4       1              1     0             2

In [37]:
X.head(10)

   Gender  Car Ownership  Cost  Income Level
0       1              0     0             1
1       1              1     0             2
2       0              1     0             2
3       0              0     0             1
4       1              1     0             2
5       1              0     2             2
6       0              1     2             2
7       0              1     1             0
8       1              2     1             2
9       0              2     1             0

In [53]:
arr=np.array([0,0,1,2]).reshape(1,-1)

In [54]:
classifier.predict(arr)

array([1])