In [1]:
%matplotlib widget
import pandas as pd 
import seaborn as sns;sns.set()
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.gridspec as gridspec
from matplotlib import rcParams

In [2]:
af=pd.read_csv("season-1516_csv.csv")
bf=pd.read_csv("season-1617_csv.csv")
cf=pd.read_csv("season-1718_csv.csv")
df=pd.read_csv("season-1819_csv.csv")
ef=pd.read_csv("season-1415_csv.csv")
ff=pd.read_csv("season-1314_csv.csv")

In [3]:
lei=af[(af["HomeTeam"]=="Leicester") | (af["AwayTeam"]=="Leicester")].reset_index(drop=True)
che=bf[(bf["HomeTeam"]=="Chelsea") | (bf["AwayTeam"]=="Chelsea")].reset_index(drop=True)
manc2=cf[(cf["HomeTeam"]=="Man City") | (cf["AwayTeam"]=="Man City")].reset_index(drop=True)
manc3=df[(df["HomeTeam"]=="Man City") | (df["AwayTeam"]=="Man City")].reset_index(drop=True)
che2=ef[(ef["HomeTeam"]=="Chelsea") | (ef["AwayTeam"]=="Chelsea")].reset_index(drop=True)
manc=ff[(ff["HomeTeam"]=="Man City") | (ff["AwayTeam"]=="Man City")].reset_index(drop=True)
liv=df[(df["HomeTeam"]=="Liverpool") | (df["AwayTeam"]=="Liverpool")].reset_index(drop=True)

t=[manc,che,lei,che2,manc2,manc3,liv]
y=["Man City","Chelsea","Leicester","Chelsea","Man City","Man City","Liverpool"]

In [4]:
j=0
for team in t:
    team["game week"]=pd.Series(range(1,39))
    team["points"]=pd.Series([None]*38)
    team["FTG"]=pd.Series([None]*38)
    team["HTG"]=pd.Series([None]*38)
    team["FCG"]=pd.Series([None]*38)
    team["HCG"]=pd.Series([None]*38)
    team["fhg"]=pd.Series([None]*38)
    team["shg"]=pd.Series([None]*38)
    team["ftgs"]=pd.Series([None]*38)
    team["results"]=pd.Series([None]*38)
    
    ftg=[]
    htg=[]
    fcg=[]
    hcg=[]
    s=[]
    wl=[]
    for i in team.index.values.tolist():
        temp=team.loc[i]
        if temp["HomeTeam"]==y[j]:
            ftg.append(temp.FTHG)
            htg.append(temp.HTHG)
            fcg.append(temp.FTAG)
            hcg.append(temp.HTAG)
            if temp.FTR=="H":
                s.append(3)
                wl.append("WIN")
            elif temp.FTR=="D":
                s.append(1)
                wl.append("DRAW")
            else:
                wl.append("LOSS")
                s.append(0)
        elif temp["AwayTeam"]==y[j]:
            ftg.append(temp.FTAG)
            htg.append(temp.HTAG)
            fcg.append(temp.FTHG)
            hcg.append(temp.HTHG)
            if temp.FTR=="A":
                s.append(3)
                wl.append("WIN")
            elif temp.FTR=="D":
                s.append(1)
                wl.append("DRAW")
            else:
                s.append(0)
                wl.append("LOSS")
    team.points=pd.Series(s).cumsum(0)
    team.FTG=pd.Series(ftg).cumsum(0)
    team.HTG=pd.Series(htg).cumsum(0)
    team.FCG=pd.Series(fcg).cumsum(0)
    team.HCG=pd.Series(hcg).cumsum(0)
    team.fhg=pd.Series(htg)
    team.ftgs=pd.Series(ftg)
    team.shg=team.ftgs-team.fhg
    team.results=pd.Series(wl)
   
    j+=1
    team.drop(["Div"],inplace=True,axis=1)

In [19]:
plt.style.use("seaborn")
plt.figure()
for i in t:
    i.plot(x="game week",y="FTG",ax=plt.gca())

plt.legend(["Man City 13/14","Chelsea 14/15","Leicester 15/16","Chelsea 16/17","Man City 17/18","Man City 18/19","Liverpool 18/19"])
plt.show()
plt.title("Goals Scored")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 'Goals Scored')

In [18]:
plt.figure()
for i in t:
    i.plot(x="game week",y="FCG",ax=plt.gca())

plt.legend(["Man City 13/14","Chelsea 14/15","Leicester 15/16","Chelsea 16/17","Man City 17/18","Man City 18/19","Liverpool 18/19"])
plt.title("Goals Conceded")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

Text(0.5, 1.0, 'Goals Conceded')

In [7]:

goals=[]
points=[]
teams=["Man City 13/14","Chelsea 14/15","Leicester 15/16","Chelsea 16/17","Man City 17/18","Man City 18/19","Liverpool 18/19"]
for i in t:
    goals.append(i.FTG.max())
    points.append(i.points.max())

In [17]:
plt.figure()

sns.barplot(x=teams,y=points,palette="Blues")
sns.lineplot(x=teams,y=goals,markers=True,err_style="band")
plt.gca().tick_params(axis="both",labelsize=7)
plt.xticks(rotation=45)
plt.tight_layout()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
lei.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,game week,points,FTG,HTG,FCG,HCG,fhg,shg,ftgs,results
0,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,L Mason,...,1,3,4,3,2,0,3,1,4,WIN
1,15/08/15,West Ham,Leicester,1,2,A,0,2,A,A Taylor,...,2,6,6,5,3,0,2,0,2,WIN
2,22/08/15,Leicester,Tottenham,1,1,D,0,0,D,M Atkinson,...,3,7,7,5,4,0,0,1,1,DRAW
3,29/08/15,Bournemouth,Leicester,1,1,D,1,0,H,N Swarbrick,...,4,8,8,5,5,1,0,1,1,DRAW
4,13/09/15,Leicester,Aston Villa,3,2,H,0,1,A,M Dean,...,5,11,11,5,7,2,0,3,3,WIN

In [ ]:
ftgs=lei.FTG.max()
fhgs=lei.HTG.max()
shgs=ftgs-fhgs

a=np.random.randint(1,45,fhg

In [13]:
import numpy as np, pandas as pd; plt.close("all")
index = pd.date_range("1 1 2000", periods=100,
                      freq="m", name="date")
data = np.random.randn(100, 4).cumsum(axis=0)
wide_df = pd.DataFrame(data, index, ["a", "b", "c", "d"])
ax = sns.scatterplot(data=wide_df)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
fmri = sns.load_dataset("fmri")
sns.relplot(x="timepoint", y="signal", kind="line", data=fmri);

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
fmri.head()

  subject  timepoint event    region    signal
0     s13         18  stim  parietal -0.017552
1      s5         14  stim  parietal -0.080883
2     s12         18  stim  parietal -0.081033
3     s11         18  stim  parietal -0.046134
4     s10         18  stim  parietal -0.037970