In [1]:
%matplotlib widget
import pandas as pd
import matplotlib.pyplot as plt
import mplleaflet

In [2]:
df=pd.read_csv("fb441e62df2d58994928907a91895ec62c2c42e6cd075c2700843b89.csv")

In [3]:
df.head()

            ID        Date Element  Data_Value
0  USW00094889  2014-11-12    TMAX          22
1  USC00208972  2009-04-29    TMIN          56
2  USC00200032  2008-05-26    TMAX         278
3  USC00205563  2005-11-11    TMAX         139
4  USC00200230  2014-02-27    TMAX        -106

In [4]:
maxt=df[df["Element"]=="TMAX"].reset_index(drop=True)
mint=df[df["Element"]=="TMIN"].reset_index(drop=True)

In [5]:
d=maxt.sort_values("Date").reset_index(drop=True)

In [6]:
c=mint.sort_values("Date").reset_index(drop=True)

In [7]:
c.head()

            ID        Date Element  Data_Value
0  USW00004848  2005-01-01    TMIN           0
1  USC00208202  2005-01-01    TMIN         -50
2  USW00014853  2005-01-01    TMIN         -39
3  USC00205050  2005-01-01    TMIN         -17
4  USC00207320  2005-01-01    TMIN         -11

In [8]:
cf=c.set_index("Date")

In [9]:
cf.resample("M")

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [ ]:
c.dtypes

In [10]:
c["Date"]=c["Date"].astype("datetime64[ns]")

In [11]:
d["Date"]=c["Date"].astype("datetime64[ns]")

In [12]:
cf=c.set_index("Date")

In [13]:
cf.head()

                     ID Element  Data_Value
Date
2005-01-01  USW00004848    TMIN           0
2005-01-01  USC00208202    TMIN         -50
2005-01-01  USW00014853    TMIN         -39
2005-01-01  USC00205050    TMIN         -17
2005-01-01  USC00207320    TMIN         -11

In [14]:
cf.resample("D")["Data_Value"].min()

Date
2005-01-01   -56
2005-01-02   -56
2005-01-03     0
2005-01-04   -39
2005-01-05   -94
              ..
2015-12-27    -6
2015-12-28   -39
2015-12-29   -39
2015-12-30   -22
2015-12-31   -56
Freq: D, Name: Data_Value, Length: 4017, dtype: int64

In [15]:
import pandas as pd 
import numpy as np 
  
# data of 2018 drivers world championship 
dict1 ={'Driver':['Hamilton', 'Vettel', 'Raikkonen', 
                  'Verstappen', 'Bottas', 'Ricciardo', 
                  'Hulkenberg', 'Perez', 'Magnussen',  
                  'Sainz', 'Alonso', 'Ocon', 'Leclerc', 
                  'Grosjean', 'Gasly', 'Vandoorne', 
                  'Ericsson', 'Stroll', 'Hartley', 'Sirotkin'], 
                    
        'Points':[408, 320, 251, 249, 247, 170, 69, 62, 56, 
                   53, 50, 49, 39, 37, 29, 12, 9, 6, 4, 1], 
                     
        'Age':[33, 31, 39, 21, 29, 29, 31, 28, 26, 24, 37, 
                      22, 21, 32, 22, 26, 28, 20, 29, 23]} 
                        
# creating dataframe using DataFrame constructor 
df = pd.DataFrame(dict1)

In [16]:
df.Points.max()

408

In [17]:
c.groupby(c["Date"])["Data_Value"].min()

Date
2005-01-01   -56
2005-01-02   -56
2005-01-03     0
2005-01-04   -39
2005-01-05   -94
              ..
2015-12-27    -6
2015-12-28   -39
2015-12-29   -39
2015-12-30   -22
2015-12-31   -56
Name: Data_Value, Length: 4017, dtype: int64

In [18]:
x=c.groupby(c["Date"])["Data_Value"].min()

In [19]:
x

Date
2005-01-01   -56
2005-01-02   -56
2005-01-03     0
2005-01-04   -39
2005-01-05   -94
              ..
2015-12-27    -6
2015-12-28   -39
2015-12-29   -39
2015-12-30   -22
2015-12-31   -56
Name: Data_Value, Length: 4017, dtype: int64

In [20]:
plt.plot(x)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
d=maxt.sort_values("Date").reset_index(drop=True)

In [22]:
y=d.groupby(d["Date"])["Data_Value"].max()

In [23]:
plt.plot(y)

In [24]:
plt.figure()
plt.plot(x,color="red")
plt.plot(y,color="blue")

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [25]:
y.max()

406

In [26]:
plt.plot(y)

In [27]:
c.head()

            ID       Date Element  Data_Value
0  USW00004848 2005-01-01    TMIN           0
1  USC00208202 2005-01-01    TMIN         -50
2  USW00014853 2005-01-01    TMIN         -39
3  USC00205050 2005-01-01    TMIN         -17
4  USC00207320 2005-01-01    TMIN         -11

In [28]:
d.head()

            ID        Date Element  Data_Value
0  USW00014853  2005-01-01    TMAX          56
1  USC00205822  2005-01-01    TMAX         128
2  USC00207308  2005-01-01    TMAX         150
3  USW00004848  2005-01-01    TMAX         133
4  USC00205563  2005-01-01    TMAX          28

In [29]:
gf=d.set_index("Date")

In [30]:
gf.head()

                     ID Element  Data_Value
Date
2005-01-01  USW00014853    TMAX          56
2005-01-01  USC00205822    TMAX         128
2005-01-01  USC00207308    TMAX         150
2005-01-01  USW00004848    TMAX         133
2005-01-01  USC00205563    TMAX          28

In [31]:
cf.head()

                     ID Element  Data_Value
Date
2005-01-01  USW00004848    TMIN           0
2005-01-01  USC00208202    TMIN         -50
2005-01-01  USW00014853    TMIN         -39
2005-01-01  USC00205050    TMIN         -17
2005-01-01  USC00207320    TMIN         -11

In [32]:
x=c.groupby(c.Date.dt.year).Data_Value.min()*0.1

In [33]:
i=x.index.tolist()

In [34]:
y=d.groupby(d.Date.dt.year).Data_Value.max()*0.1

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
d.dtypes

In [ ]:
c.dtypes

In [ ]:
plt.figure()
plt.plot(x)
plt.plot(y)

In [ ]:
plt.gca().fill_between(i,
                      y,x,
                      color="red",
                      alpha=0.25)